using Microsoft.AspNetCore.Mvc;
using {{.NamespaceRoot}}.Application.Contracts.Services;
using {{.NamespaceRoot}}.Application.Contracts.{{.EntityName}};
using System;
using Volo.Abp.AspNetCore.Mvc;
using Volo.Abp.Application.Dtos;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Authorization;
using static {{.NamespaceRoot}}.Permissions.{{.ModuleName}}Permissions;
using Volo.Abp;

namespace {{.NamespaceRoot}}.HttpApi.Controllers
{
    [Route("api/{{.EntityNamePlural | toLower}}")]
    public class {{.EntityName}}Controller : AbpControllerBase
    {
        private readonly I{{.EntityName}}AppService _appService;

        public {{.EntityName}}Controller(I{{.EntityName}}AppService appService)
        {
            _appService = appService;
        }

        [HttpGet]
        [Route("{id}")]
        [Authorize({{.EntityName}}Management.Default)]
        public virtual Task<{{.EntityName}}Dto> GetAsync({{.PrimaryKeyType}} id)
        {
            return _appService.GetAsync(id);
        }

        [HttpGet]
        [Authorize({{.EntityName}}Management.Default)]
        public virtual Task<PagedResultDto<{{.EntityName}}Dto>> GetListAsync([FromQuery] PagedAndSortedResultRequestDto input)
        {
            return _appService.GetListAsync(input);
        }

        [HttpPost]
        [Authorize({{.EntityName}}Management.Create)]
        public virtual Task<{{.EntityName}}Dto> CreateAsync(Create{{.EntityName}}Dto input)
        {
            return _appService.CreateAsync(input);
        }

        [HttpPut]
        [Route("{id}")]
        [Authorize({{.EntityName}}Management.Update)]
        public virtual Task<{{.EntityName}}Dto> UpdateAsync({{.PrimaryKeyType}} id, Update{{.EntityName}}Dto input)
        {
            return _appService.UpdateAsync(id, input);
        }

        [HttpDelete]
        [Route("{id}")]
        [Authorize({{.EntityName}}Management.Delete)]
        public virtual Task DeleteAsync({{.PrimaryKeyType}} id)
        {
            return _appService.DeleteAsync(id);
        }
    }
}

