namespace {{.NamespaceRoot}}.Domain.Shared.{{.ModuleNameWithSuffix}}
{
    public static class {{.ModuleName}}DbProperties
    {
        public static string DbTablePrefix { get; set; } = "App";

        public static string DbSchema { get; set; } = null;
    }
}

