using System;
using Volo.Abp.EventBus;

namespace {{.NamespaceRoot}}.Events.{{.ModuleNameWithSuffix}}
{
    /// <summary>
    {{- if .Description}}
    /// {{.Description}}
    {{- else}}
    /// Distributed event: {{.EventName}}
    {{- end}}
    /// </summary>
    [Serializable]
    public class {{.EventName}}Eto : IEventData
    {
{{- range .Payload}}
        public {{.Type}} {{.Name}} { get; set; }
{{- end}}

        public {{.EventName}}Eto()
        {
        }

        public {{.EventName}}Eto({{range $index, $prop := .Payload}}{{if $index}}, {{end}}{{$prop.Type}} {{$prop.Name | lowerFirst}}{{end}})
        {
{{- range .Payload}}
            {{.Name}} = {{.Name | lowerFirst}};
{{- end}}
        }
    }
}

