using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}}Module;
using {{.NamespaceRoot}}.Domain.Repositories.{{.ModuleName}}Module;
using System;
using System.Linq;
using System.Threading.Tasks;
using Volo.Abp.Domain.Repositories.EntityFrameworkCore;
using Volo.Abp.EntityFrameworkCore;

namespace {{.NamespaceRoot}}.EntityFrameworkCore.Repositories.{{.ModuleName}}Module;

public class EfCore{{.EntityName}}Repository : EfCoreRepository<{{.ModuleName}}DbContext, {{.EntityName}}, {{.PrimaryKeyType}}>, I{{.EntityName}}Repository
{
    public EfCore{{.EntityName}}Repository(IDbContextProvider<{{.ModuleName}}DbContext> dbContextProvider)
        : base(dbContextProvider)
    {
    }

    // Add custom repository methods here
}

