using System;
using Volo.Abp.Application.Dtos;
{{- if .HasEnumProperties}}
{{- range .EnumNames}}
using {{$.NamespaceRoot}}.Domain.Shared.{{$.ModuleNameWithSuffix}};
{{- break}}
{{- end}}
{{- end}}

namespace {{.NamespaceRoot}}.Application.Contracts.{{.EntityName}}Module
{
    public class {{.EntityName}}Dto : AuditedEntityDto<{{.PrimaryKeyType}}>
    {
{{- range .Properties}}
    {{- if .IsForeignKey}}
        public string {{.Name}}Name { get; set; }
    {{- else}}
        public {{.Type}}{{if .Nullable}}?{{end}} {{.Name}} { get; set; }
    {{- end}}
{{- end}}    
    }
}

