using System;

namespace {{.NamespaceRoot}}.Application.Contracts.{{.EntityName}}Module
{
    public class {{.EnumName}}Dto
    {
        public {{.UnderlyingType}} Value { get; set; }
        public string Name { get; set; }
        public string DisplayName { get; set; }
    }
}

