namespace {{.NamespaceRoot}}.Events.{{.ModuleName}}
{
    public static class {{.EntityName}}EtoTypes
    {
        public const string Created = "{{.NamespaceRoot}}.{{.EntityName}}.Created";
        public const string Updated = "{{.NamespaceRoot}}.{{.EntityName}}.Updated";
        public const string Deleted = "{{.NamespaceRoot}}.{{.EntityName}}.Deleted";
    }
}

