using AutoMapper;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}}Module;
using {{.NamespaceRoot}}.Application.Contracts.{{.ModuleName}}Module;
{{- if .HasEvents}}
using {{.NamespaceRoot}}.Events.{{.ModuleName}}Module;
{{- end}}

namespace {{.NamespaceRoot}}.Application.AutoMapper.{{.ModuleName}}Module
{
    public class {{.EntityName}}Profile : Profile
    {
        public {{.EntityName}}Profile()
        {
            // Entity to DTO mapping
            // Note: Foreign key Name properties (e.g., CategoryName) are typically set manually
            // in the application service after loading related entities
            CreateMap<{{.EntityName}}, {{.EntityName}}Dto>()
                {{- range .Properties}}
                {{- if .IsForeignKey}}
                .ForMember(dest => dest.{{.Name}}Name, opt => opt.Ignore())
                {{- end}}
                {{- end}};

            // DTO to Entity mapping (reverse)
            // Note: Foreign key IDs are set manually in the application service
            CreateMap<{{.EntityName}}Dto, {{.EntityName}}>()
                {{- range .Properties}}
                {{- if .IsForeignKey}}
                .ForMember(dest => dest.{{.Name}}Id, opt => opt.Ignore())
                .ForMember(dest => dest.{{.Name}}, opt => opt.Ignore())
                {{- end}}
                {{- end}};

{{- if not .IsValueObject}}
            // CreateDto to Entity mapping
            // Note: CreateDto only contains non-foreign key properties
            CreateMap<Create{{.EntityName}}Dto, {{.EntityName}}>();

            // UpdateDto to Entity mapping
            // Note: UpdateDto only contains non-foreign key properties
            CreateMap<Update{{.EntityName}}Dto, {{.EntityName}}>();
{{- end}}
{{- if .HasEvents}}
            // Entity to ETO mapping for distributed events
            CreateMap<{{.EntityName}}, {{.EntityName}}Eto>();
{{- end}}
        }
    }
}

