using AutoMapper;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}}Module;
using {{.NamespaceRoot}}.Application.Contracts.{{.ModuleName}}Module;
{{- if .HasEvents}}
using {{.NamespaceRoot}}.Events.{{.ModuleName}}Module;
{{- end}}

namespace {{.NamespaceRoot}}.Application.AutoMapper.{{.ModuleName}}Module
{
    public class {{.EntityName}}Profile : Profile
    {
        public {{.EntityName}}Profile()
        {
            CreateMap<{{.EntityName}}, {{.EntityName}}Dto>().ReverseMap();
{{- if not .IsValueObject}}            
            CreateMap<Create{{.EntityName}}Dto, {{.EntityName}}>().ReverseMap();
            CreateMap<Update{{.EntityName}}Dto, {{.EntityName}}>().ReverseMap();
{{- end}}
{{- if .HasEvents}}            
            CreateMap<{{.EntityName}}, {{.EntityName}}Eto>().ReverseMap();
{{- end}}        
        }
    }
}

