using System;
using Volo.Abp.Domain.Repositories;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleNameWithSuffix}};

namespace {{.NamespaceRoot}}.Domain.Repositories.{{.ModuleNameWithSuffix}}
{
    public interface I{{.EntityName}}Repository : IRepository<{{.EntityName}}, {{.PrimaryKeyType}}>
    {
    }
}

