using System;
using Volo.Abp.Domain.Repositories;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}};

namespace {{.NamespaceRoot}}.Domain.Repositories.{{.ModuleName}}
{
    public interface I{{.EntityName}}Repository : IRepository<{{.EntityName}}, {{.PrimaryKeyType}}>
    {
    }
}

