using System;
using Volo.Abp.Domain.Repositories;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}}Module;

namespace {{.NamespaceRoot}}.Domain.Repositories.{{.ModuleName}}Module
{
    public interface I{{.EntityName}}Repository : IRepository<{{.EntityName}}, {{.PrimaryKeyType}}>
    {
    }
}

