using System;
using System.Threading.Tasks;
using Volo.Abp.Data;
using Volo.Abp.DependencyInjection;
using Volo.Abp.Domain.Repositories;
using {{.NamespaceRoot}}.Domain.Entities.{{.ModuleName}}Module;
{{- if eq .PrimaryKeyType "Guid"}}
using Volo.Abp.Guids;
{{- end}}

namespace {{.NamespaceRoot}}.Domain.Data.{{.ModuleName}}Module
{
    public class {{.EntityName}}DataSeeder : IDataSeedContributor, ITransientDependency
    {
        private readonly IRepository<{{.EntityName}}, {{.PrimaryKeyType}}> _repository;
{{- if eq .PrimaryKeyType "Guid"}}
        private readonly IGuidGenerator _guidGenerator;
{{- end}}

        public {{.EntityName}}DataSeeder(
            IRepository<{{.EntityName}}, {{.PrimaryKeyType}}> repository{{if eq .PrimaryKeyType "Guid"}},
            IGuidGenerator guidGenerator{{end}})
        {
            _repository = repository;
{{- if eq .PrimaryKeyType "Guid"}}
            _guidGenerator = guidGenerator;
{{- end}}
        }

        public async Task SeedAsync(DataSeedContext context)
        {
            if (await _repository.GetCountAsync() > 0)
            {
                return;
            }

            // TODO: Add seed data
{{- if eq .PrimaryKeyType "Guid"}}
            // await _repository.InsertAsync(new {{.EntityName}}(
            //     _guidGenerator.Create(),
            //     // Add properties here
            // ), autoSave: true);
{{- else}}
            // await _repository.InsertAsync(new {{.EntityName}}(
            //     0, // ID will be auto-generated by database
            //     // Add properties here
            // ), autoSave: true);
{{- end}}
        }
    }
}

