using System;
using System.ComponentModel.DataAnnotations;
using {{.NamespaceRoot}}.Constants;

namespace {{.NamespaceRoot}}.Application.Contracts.{{.EntityName}}
{
    public class Update{{.EntityName}}Dto
    {
{{- range .NonForeignKeyProperties}}
    {{- if .IsRequired}}
        [Required]
    {{- end}}
    {{- if .MaxLength}}
        [MaxLength({{$.EntityName}}Constants.ValidationConstants.{{.Name}}MaxLength)]
    {{- end}}
        public {{.Type}}{{if .Nullable}}?{{end}} {{.Name}} { get; set; }
{{- end}}    
    }
}

