using System;
{{- if .NeedsDataAnnotations}}
using System.ComponentModel.DataAnnotations;
{{- end}}
using {{.NamespaceRoot}}.Constants.{{.ModuleNameWithSuffix}};
{{- if .HasEnumProperties}}
{{- range .EnumNames}}
using {{$.NamespaceRoot}}.Domain.Shared.{{$.ModuleNameWithSuffix}};
{{- break}}
{{- end}}
{{- end}}

namespace {{.NamespaceRoot}}.Application.Contracts.{{.EntityName}}Module
{
    public class Update{{.EntityName}}Dto
    {
{{- range .NonForeignKeyProperties}}
    {{- if .IsRequired}}
        [Required]
    {{- end}}
    {{- if .MaxLength}}
        [MaxLength({{$.EntityName}}Constants.ValidationConstants.{{.Name}}MaxLength)]
    {{- end}}
        public {{.Type}}{{if .Nullable}}?{{end}} {{.Name}} { get; set; }
{{- end}}    
    }
}

